 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
 }
 .gallery {
    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 24px) / 3);
}  